{{! /login/organization }}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="title-post">{{title}}</h1>
      <h4 class="log-in-title">Log In</h4>
      <form class="form-style-7" action="/login/organization" method="POST">
        <ul>
          <li>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Galvanize, Inc" required>
            <span>Enter your username here</span>
          </li>
          <li>
            <label for="password">Enter Password</label>
            <input type="password" name="password" placeholder="************" required>
            <span>Enter your password here</span>
          </li>
          <li>
            <input type="submit" class="btn btn-primary" name="loginVolSubmit" value="Submit" required>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
